.edit-delete {
	margin: 35px 10px 0px;
}

.edit-delete > button {
	margin: 10px 25px;
	width: 130px;
	background-color: transparent;
	outline: none;
	font-weight: bold;
	border-radius: 10px;
	padding: 10px;
	transition: ease all 250ms;
	box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.1), -7px -7px 20px rgb(242, 255, 241);
	border: unset;
}
.edit-delete > button:hover {
	cursor: pointer;
	color: #292929;
	box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.1),
		inset -3px -3px 5px rgba(241, 255, 255, 0.5);
}
.edit {
	color: rgb(4, 90, 18);
}
.delete {
	color: rgb(245, 4, 4);
}

@media (max-width: 500px) {
	.edit-delete > button {
		width: 5rem;
	}
}
